@font-face {
    font-family: 'Roboto';
    font-weight: 400; /* Regular */
    src: url('./Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 700; /* Bold */
    src: url('Roboto-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 400; /* Regular */
    src: url('./Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-weight: 700; /* Bold */
    src: url('./Poppins-Bold.ttf') format('truetype');
  }
  